body {
    background-color: #1c1c1c;
    color: #e0dede;
    font-family: 'Georgia', serif;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #3b3b3b;
    color: #fff;
    border: 2px solid #555;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.card-img, .mystic-img {
    width: 200px;
    margin: 10px;
}

.card {
    display: inline-block;
    margin: 10px;
}
